.NavItemBox {
  list-style: none;
  margin-right: 7rem;
}

.NavItem {
  color: rgba(0, 0, 0, 0.65);
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;

  transition: background-color 0.3s;
}
.NavItemActive {
  color: rgba(0, 0, 0, 1);
}

.NavItem:link,
.NavItem:active {
  text-decoration: none;
}

.NavItem:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
