.Navbar {
  grid-column: 1/-1;
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
}

.SecondaryHeading {
  margin-right: auto;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  overflow: hidden;

  text-align: center;
}
.SecondaryHeading > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
}

.invisible {
  position: absolute;
  left: 0;
  top: -100%;
  cursor: pointer;
}

.SecondaryHeading:hover .invisible {
  top: 0;
}
.SecondaryHeading:hover .visible {
  transform: translateY(100%);
}
